[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6.5"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
django = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
django-webpack-loader = "*"
whitenoise = "*"

[dev-packages]
coverage = "*"
