<!DOCTYPE html>
<html>

<head>
  <title>Neuro - Note Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'notes/css/uikit.almost-flat.min.css' %}" href="uikit.min.css" />
  <script src="{% static 'notes/js/jquery.js' %}"></script>
  <script src="{% static 'notes/js/uikit.min.js' %}"></script>
</head>

<body>
  <h1>{{ note.note_text }}</h1>
  <h3>{{ note.pub_date }}</h3>
</body>

</html>
